body {
  font-family: "Poppins", sans-serif;
}

main {
  background-color: #586188;
}

.main-link {
  text-decoration: none;
  font-size: 24px;
}
.main-wrapper {
  max-width: 100%;
}

a {
  text-decoration: none;
}

/* --------------------------------HEADER--------------------------------------- */

.btn {
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 10px;
  background: #19afff;
  padding: 4.1px 12px;
  text-decoration: none;
  border: 1px;
}
.btn:hover {
  background: #756c09;
  text-decoration: none;
}

#label-container {
  display: flex;
  justify-content: space-around;
  padding: 30px;
  color: #1bf035;
}

.logo {
  position: absolute;
  top: 1px;
}

.header {
  height: 20px;
  padding: 32px 40px;
  display: flex;
  justify-content: space-between;
  background-color: #d2daff;
}
.header .right-info {
  width: 476px;
  height: 50px;
  display: flex;
  align-items: flex-start;
}

.right-info ul {
  width: 374px;
  height: 24px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  margin-right: 22px;
  margin-right: 22px;
}
.right-info .nav-list .nav-item.active {
  font-weight: 600;
  color: #4e42d9;
}
.right-info ul a:hover {
  color: #4e42d9;
  font-weight: 600;
}

/* --------------------------------BODY--------------------------------------- */

.middle {
  box-sizing: border-box;
  height: 350px;
  width: 100%;
}
.middle .center-main {
  width: 434px;
  height: auto;
  margin: 20px auto 0 auto;
}

.center-main .upper {
  height: 12em;
  width: 100%;
  background-color: white;
  margin-bottom: 20px;
}
.center-main .lower {
  height: 49px;
  width: 255px;
  background-color: #d2daff;
  margin: auto;
}

.options {
  height: 100%;
  font-size: 7px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.start {
  width: 35px;
  height: 16px;
  background-color: #7fb77e;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
  border-radius: 11px;
}
.start:hover {
  background-color: #3d8361;
}

.end {
  width: 35px;
  height: 16px;
  background-color: #ef3d25;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
  border-radius: 11px;
}
.end:hover {
  background-color: #c21010;
}

.link-text {
  width: auto;
  height: 100%;
  font-weight: 500;
  font-size: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #faf0ce;
}

/* --------------------------------FOOTER--------------------------------------- */

.bottom {
  width: 100%;
  height: auto;
  background-color: #f7e8e5;
}
.bottom-wrapper {
  margin: 20px auto 0 auto;
}

th {
  padding: 6px;
}
td {
  padding: 6px;
  text-align: center;
}

table {
  height: 100%;
  width: 100%;
}
table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

canvas {
  width: 457px;
  height: 275px;
}
